:root {
    --color-text: #081c15;
    --color-background: #d8f3dc;
    --color-primary: #93d5b2;
    --color-secondary: #89c2d9;
    --color-accent: #e5989b;

    --text-box-size: 20px
}

html,
body {
    background-color: var(--color-background);
    font-family: "Assistant", sans-serif;
    overflow-x: hidden;
    color: var(--color-text);
}

h3,
h2,
h1 {
    font-family: "DM Serif Text", sans-serif;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 57px;
}

h3 {
    font-size: 30px;
    font-variant: small-caps;
}

#header,
#footer {
    width: 100%;
    /* padding-left: 40px; */
    background-color: var(--color-primary);
}

#header {
    border-bottom: solid 1px var(--color-accent);
}

#title {
    text-align: center;
}

#vision {
    display: flex;
    align-items: center;
    padding: 15px;
    font-size: 22px;
}

#footer {
    border-top: solid 1px var(--color-accent);
}

#references {
    margin-left: 25px;
}

#references h3 {
    font-size: 30px;
}

#references li {
    list-style: none;
    margin: 10px;
}

.text-box {
    border-radius: 5px;
    background: var(--color-secondary);
    padding: 15px;
    margin: 15px;
    border: solid 1px var(--color-accent);
    font-size: var(--text-box-size);
}

li {
    margin-left: 20px;
}