:root {
  --color-text: #081c15;
  --color-background: #d8f3dc;
  --color-primary: #93d5b2;
  --color-secondary: #89c2d9;
  --color-accent: #e5989b;
}

html,
body {
  background-color: var(--color-background);
  height: 100%;
  font-family: "Assistant", sans-serif;
  overflow-x: hidden;
  color: var(--color-text);
}

#title,
#references {
  padding-left: 40px;
  background-color: var(--color-primary);
}

#title {
  border-bottom: solid 1px var(--color-accent);
}

#vision {
  display: flex;
  align-items: center;
}

#references {
  border-top: solid 1px var(--color-accent);
  padding-top: 15px;
}

h3,
h2,
h1 {
  font-family: "DM Serif Text", sans-serif;
}

h1 {
  font-size: 80px;
}
h2 {
  font-size: 65px;
}

h3 {
  font-variant: small-caps;
}

.text-box {
  border-radius: 5px;
  background: var(--color-secondary);
  padding: 15px;
  margin: 15px;
  border: solid 1px var(--color-accent);
}
